# PA2 Assignment
### Juan Ballas Marchant
**Version 1**

**CS-150-01 FA2023**

## Task 1: List Operations
* A. Create a list called numbers containing the integers 10, 20, 30, 40, 50.
* B. Append the number 60 to the list.
* C. Insert the number 5 at the beginning of the list.
* D. Remove the second element from the list.
* E. Print the modified numbers list.

In [1]:
numbers=[10,20,30,40,50]

In [2]:
numbers.append(60)

In [3]:
numbers.insert(0,5)

In [4]:
numbers.remove(20)

In [5]:
print(numbers)

[5, 10, 30, 40, 50, 60]

## Task 2: Tuple Basics
* A. Create a tuple called days containing the days of the week: "Monday" to "Sunday".
* B. Print the third day of the week.
* C. Attempt to modify the second day to "Funday". Note and explain the error that occurs.

In [6]:
days=()
type(days)

tuple

In [7]:
days=('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

In [8]:
print(days[2])

Wednesday

In [9]:
#days[4]='Funday'
#TypeError: 'tuple' object does not support item assignment
#It shows this error becuase tuples cannot be changed or mutated

## Task 3: Reversing Sublist
* A. Create a list named letters containing the letters of the alphabet: "a" to "z".
* B. Use list slicing to extract the sublist [p, o, n, m, l, k] from the letters list.
* C. Reverse the sublist extracted in step 2 and print it.

In [10]:
letters= "a b c d e f g h i j k l m n o p q r s t u v w x y z"
letters=letters.split(sep=" ")
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [11]:
letters[10:16]

['k', 'l', 'm', 'n', 'o', 'p']

In [12]:
letters.reverse()

In [13]:
print(letters[10:16])

['p', 'o', 'n', 'm', 'l', 'k']

## Task 4: Tuple Packing and Unpacking
* A. Create a tuple called student with your first name, last name, age, and your favorite subject 
(in that order).
* B. Unpack the student tuple and print each value individually.

In [14]:
student=('Juan','Ballas',22,'Math')

In [15]:
first_name,last_name,age,subject=student
print('My first name is: ',first_name)
print('My first name is: ',last_name)
print('My first name is: ',age)
print('My first name is: ',subject)

My first name is:  Juan
My first name is:  Ballas
My first name is:  22
My first name is:  Math

## Task 5: Shopping List
* A. Create a list named shopping_list with at least 5 items you would buy from a grocery store.
* B. Print the total number of items on your shopping list.
* C. Replace the third item on the list with a different item.
* D. Sort the list in alphabetical order.
* E. Print the sorted shopping list.

In [19]:
shopping_list=['Grapes','Rice','Noodles','Milk','Eggs']

In [20]:
print(f'Total items: {len(shopping_list)}')

Total items: 5

In [21]:
shopping_list[2]='Butter'

In [22]:
shopping_list.sort()

In [23]:
print(shopping_list)

['Butter', 'Eggs', 'Grapes', 'Milk', 'Rice']